.venue {
  font-family: "SFUIDisplay-Medium", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #FC4250;
}

.section, .links {
  font-family: "SFUIDisplay-Semibold", "Helvetica", sans-serif;
  font-size: 20px;
  color: #373737;
}

.title {
  font-family: "SFUIDisplay-Semibold", "Helvetica", sans-serif;
  font-size: 17px;
  color: #494949;
  letter-spacing: 0.5px;
}

.bodyText {
  font-family: "SFUIText-Normal", "Helvetica", sans-serif;
  font-size: 13px;
  color: #6f6f6f;
}

.price, .tags {
  font-family: "SFUIDisplay-Bold", "Helvetica", sans-serif;
  font-size: 13px;
  color: #494949;
}

.tags {
  font-family: "SFUIDisplay-Regular", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: sans-serif;
  background-color: #FC4250;
}

.App {
  background-color: white;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.red {
  background-color: #FC4250;
}

.lockScroll {
  overflow: hidden;
}

header {
  height: 65px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 15px;
  transition: 0.5s ease-in-out all;
}

.menuOpen {
  margin-top: 0;
  transform-origin: top;
  color: white;
  background-color: #FC4250;
  height: 100vh;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  color: white;
  list-style: none;
  position: fixed;
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0px;
  -webkit-animation: fadein 2s;
}
.links a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.links a:focus {
  outline: none;
}
.links li {
  padding: 10px 0;
  letter-spacing: 0.5px;
}
.links li img {
  height: 75px;
  margin: 20px 0;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.placeholder {
  width: 40px;
}

.section {
  padding: 60px 15px 15px 15px;
  background-color: white;
}

.title {
  padding: 21px 14px;
}

.bodyText {
  padding: 0 14px;
}

.info {
  padding: 21px 14px;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.menuItem {
  display: grid;
  height: 50vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "leftBox rightBox";
  background-color: #FAFAFA;
}

.leftBox {
  grid-area: leftBox;
  position: relative;
}

.rightBox {
  grid-area: rightBox;
  position: relative;
}

.previewModal {
  background-color: #FAFAFA;
  height: 100vh;
  position: fixed;
  top: 65px;
  z-index: 4;
  left: 100vw;
  -webkit-animation: slideIn 0.4s ease-in-out forwards;
}
.previewModal .previewImage {
  width: 100vw;
  height: 100vw;
}
.previewModal .previewName {
  font-family: "SFUIDisplay-Semibold";
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #494949;
  padding: 20px;
}
.previewModal .previewDescription {
  font-family: "SFUIText-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #6f6f6f;
  padding: 20px;
  padding-top: 0;
}
.previewModal .previewDetails {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  bottom: 65px;
  padding: 20px;
}
.previewModal .previewPrice {
  font-family: "SFUIDisplay-Bold";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #494949;
}
.previewModal .previewTags {
  font-family: "SFUIText-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: right;
  color: #494949;
}

@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}
.cta {
  height: 440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 22px 0;
  text-align: center;
  background-color: white;
}
.cta .mryum {
  width: 100px;
  margin-bottom: 15px;
}
.cta h3 {
  color: #FC4250;
  margin: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.cta p {
  color: #6f6f6f;
  font-family: "SFUIText-Medium", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}
.cta .preRegister {
  font-family: "SFUIText-Semibold", "Helvetica", sans-serif;
  color: #494949;
  font-size: 14px;
  margin-bottom: 25px;
}
.cta input {
  width: 335px;
  height: 55px;
  border-radius: 25px;
  border: solid 2px #FC4250;
  padding: 20px;
  font-family: "SFUIDisplay", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FC4250;
  transition: 0.2s ease all;
}
.cta input:focus {
  outline: none;
}
.cta ::placeholder {
  font-family: "SFUIDisplay", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FC4250;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  font-family: "SFUIText", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
  background-color: #FC4250;
}

/*# sourceMappingURL=App.css.map */
